@using Vinicius.VirtualStore.Web.HtmlHelpers
@model Vinicius.VirtualStore.Web.Models.ProductsViewModel
@using Vinicius.VirtualStore.Web.HtmlHelpers
@{
    ViewBag.Title = "ProductsList";
}
@foreach (var p in Model.Products)
{
@Html.Partial("_DetailsProducts", p)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.Pagination, x => Url.Action("ProductsList", new { page = x }))
</div>