.input-validation-error {
    border: 1px solid red;background-color: #fee;
}

.validation-summary-errors {
    color: red;
    font-weight: bold;
}

.validation-summary-valid {
    display: none;
}

.field-validation-error {
    color: red;
}
.field-validation-valid {
    display: none;
}